/* Google Fonts */
@import "https://fonts.googleapis.com/css2?family=Arimo&family=Baskervville:ital@0;1&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
}

main {
  min-height: 100vh;
}

#header {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
}

.navbar-brand {
  cursor: pointer;
}

.img-fluid{
  width: 60px;
  height: 30px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-nav .nav-item {
  padding: 0 15px;
}

.nav-item .nav-link {
  font-size: 14px;
  text-transform: capitalize;
  justify-content: right;
}

.homepage {
  position: relative;
  height: 100vh;
  background-image: url(../Images/ourbride.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.btn.btn-primary {
  padding: 15px 20px;
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.55;
  background-color: #fff;
  color: rgb(3, 3, 3);
  border: none;
}
.btn.btn-primary:hover {
  background-color: rgb(247, 194, 212);
  opacity: 0.9;
}

#historia {
  padding: 80px 0px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 10%;
}

.historia-col1 {
  flex-basis: 35%;
}

.historia-img {
  width: 100%;
}

.historia-col2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  flex-basis: 60%;
  margin: auto;
}
.historia-col2 .historia-button:hover {
  background-color: rgb(247, 194, 212);
  opacity: 90%;
}

.subtitulo {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 30px;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 30px;
  justify-self: left;
}

p {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  text-align: left;
  margin: 0;
  text-align: justify;
  line-height: 1.6;
  padding-left: 30px;
}

.container-button {
  display: flex;
  width: auto;
  margin-top: 30px;
  padding-left: 30px;
}

.historia-button {
  cursor: pointer;
  color: rgb(3, 3, 3);
  padding: 15px 15px;
  border: none;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 4px 2px;
  transition: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
  opacity: 55%;
  align-items: end;
}

#servicios {
  padding: 80px 0;
}
#servicios .row{
  padding: 0;
  
}
.titulo-servicios {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: 0;
  line-height: 1.6;
  position: relative;
}

.subtitulo-servicios {
  font-family: "Arimo", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contenido-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

.img-servicios {
  width: 340px;
  height: 292px;
  border-radius: 8%;
}

.text-serv1 {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.text-serv1 h3 {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.text-serv1 p {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.text-serv2 {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.text-serv2 h3 {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.text-serv2 p {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.contenido-servicios .servicio1:hover,
.contenido-servicios .servicio2:hover {
    background-color: #fff;
    opacity: 80%;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 8%;
}

.contenido-servicios .text-serv1,
.contenido-servicios .text-serv2 {
    transition: 1s;
}

.botonserv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 800px;
  width: 100%;
}
.botonserv .servicios-button {
  cursor: pointer;
  color: rgb(3, 3, 3);
  padding: 15px 15px;
  border: none;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%;
  opacity: 55%;
  position: relative;
  margin-top: 30px;
}
.botonserv .servicios-button:hover {
  background-color: rgb(247, 194, 212);
  opacity: 90%;
}

#novias {
  padding: 80px 0px;
}

.titulo-novias {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: 0;
  line-height: 1.6;
  align-items: center;
  position: relative;
}

.contenido-novias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 40px;
  width: 70%;
  overflow: hidden;
}
.contenido-novias img {
  width: 300px;
  height: 350px;
  padding: 5px;
  gap: 5px;
  object-fit: cover;
}
.contenido-novias .novia1 {
  position: relative;
}
.contenido-novias .novia1:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia1:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia2:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia2:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia3:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia3:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia4:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia4:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia5:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia5:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia6:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia6:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia7:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia7:hover .text-block1 {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transition: 1s;
}
.contenido-novias .novia8:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia8:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}
.contenido-novias .novia9:hover {
  background-color: #fff;
  opacity: 80%;
  cursor: pointer;
  transition: 0.6s;
  width: 304px;
  height: 354px;
}
.contenido-novias .novia9:hover .text-block1 {
  opacity: 1;
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  transition: 1s;
}

.text-block1 {
  position: absolute;
  width: 300px;
  height: 110px;
  background-color: white;
  justify-content: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.text-block1 h4 {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.text-block1 p {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.titulo-contacto {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  margin-top: 30px;
}

#contenido-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

#contenido-contacto .row{
  align-items: center;
}

.texto-contacto {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 600px;
}

.fotoestudio {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5%;
  margin-top: 20px;
}

.subtitulo-contacto {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 20px;
}

.h3-contacto {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}


.contact-form {
    width: 100%;
    max-width: 500px;  
    margin: 30px auto;
    padding: 20px;
}


.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px; 
    margin: 0 auto;   
}

input {
  background-color: rgb(247, 194, 212);
  border-radius: 5px;
  height: 30px;
  width: calc(100% - 20px);
  margin-top: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  border: none;
  opacity: 0.7;
}

textarea {
  background-color: rgb(247, 194, 212);
  border-radius: 5px;
  height: 30px;
  width: calc(100% - 20px);
  margin-top: 5px;
  padding: 0 10px;
  margin-bottom: 15px;
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  border: none;
  opacity: 0.7;
  height: 80px;
}

label {
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 300;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

#enviar {
  background-color: rgb(247, 194, 212);
  width: calc(100% - 20px);
  height: 30px;
  font-family: "Arimo", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-top: 30px;
}
#enviar:hover {
  opacity: 0.5;
}

.aviso {
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.footer.bg-light {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-top: 30px;
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.redes i {
  font-size: 20px;
  margin: 10px;
  color: black;
  padding: 8px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
.redes i:hover {
  font-size: 23px;
  color: rgb(247, 194, 212);
  transition: 0.3s;
  opacity: 80%;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: -5px;
}

@media (min-width: 768px) {
  .full-width-div {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
